table {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 4px;
}

.name-col {
  border: 1px solid black;
  padding: 0 0px 0 10px;
}
.email-col {
  border: 1px solid black;
  padding: 0px 30px;
}

.company-col {
  border: 1px solid black;
  padding: 0 10px 0 10px;
}
.running-col {
  border: 1px solid black;
  padding: 0 10px 0 10px;
}

.header {
  border: 2px solid black;
}

td {
  width: fit-content;
}
